html {
  background: #018ded url(https://source.unsplash.com/hes6nUC1MVc);
  backdrop-filter: blur(2px);
  background-size: cover;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 10px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: #d7d7d7;
  position: absolute;
  top: 50%;
  right: 50%;

  transform: rotate(90deg); /* 指針整點歸零 */
  transform-origin: 100%; /* 調整旋轉中心，預設為50%*/
  transition: all 0.05s; /* 動畫 */
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); /*tick*/
}

/* 調整指針造型 */
.hour-hand {
  width: 35%;
  border-radius: 10px;
  height: 7px;
}

.second-hand {
  width: 48%;
  border-radius: 60% 0 0 60%;
  height: 4px;
  background: #ff1818;
  opacity: 0.7;
}

.center {
  position: absolute;
  top: 50%;
  right: 43%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  height: 20px;
  width: 20px;
  background: #33577b;
}